services:
  php:
    build:
      context: ./docker/php
    restart: unless-stopped
    stop_grace_period: 15s
    stop_signal: SIGTERM
    working_dir: /app
    security_opt:
      - no-new-privileges:true
    #command: "composer deploy"
    entrypoint: "/entrypoint.sh"
    tmpfs:
      - /run
      - /tmp
    volumes:
      - ./app:/app
      - sock:/run/appsock
    env_file:
      - .env_dist
      - path: .env
        required: false
    environment:
      UID: ${UID:-0}
      GID: ${GID:-0}
      COMPOSER_NO_DEV: ${COMPOSER_NO_DEV:-0}
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy
    healthcheck:
      test: pgrep "php-fpm" > /dev/null || exit 1
      interval: 15s # Interval between health checks.
      timeout: 1s # Timeout for each health checking.
      retries: 30 # Hou many times retries.
      start_period: 5s # Estimated time to boot.
      start_interval: 5s # is the time between health checks during the start period.
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: ${COMPOSE_PROJECT_NAME:-matrix_local}-php
    networks:
      - default

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    stop_grace_period: 5s
    stop_signal: SIGTERM
    working_dir: /app/public
    ports:
      - "${HTTP_PORT:-80}:80"
    volumes:
      - ./app/public:/app/public:ro
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - sock:/run/appsock
      - /dev/null:/docker-entrypoint.d/10-listen-on-ipv6-by-default.sh:ro
    depends_on:
      - php
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://127.0.0.1/ping" ]
      interval: 15s # Interval between health checks.
      timeout: 1s # Timeout for each health checking.
      retries: 5 # Hou many times retries.
      start_period: 4s # Estimated time to boot.
    networks:
      - default

  database:
    image: mariadb:11
    restart: unless-stopped
    stop_grace_period: 5s
    stop_signal: SIGTERM
    environment:
      TZ: ${TZ}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_TEST_DATABASE: ${MARIADB_TEST_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/database/create-test-db.sh:/docker-entrypoint-initdb.d/create-test-db.sh
    ports:
      - "${DB_PORT:-3306}:3306"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 15s # Interval between health checks.
      timeout: 3s # Timeout for each health checking.
      retries: 20 # Hou many times retries.
      start_period: 10s # Estimated time to boot.
      start_interval: 5s # is the time between health checks during the start period.
    networks:
      - default

  cache:
    image: eqalpha/keydb:latest
    restart: unless-stopped
    stop_grace_period: 5s
    stop_signal: SIGTERM
    ports:
      - "${CACHE_PORT:-6379}:6379"
    volumes:
      - cache_data:/data
    healthcheck:
      test: [ "CMD", "keydb-cli", "-h", "localhost", "-p", "6379", "ping" ]
      interval: 15s # Interval between health checks.
      timeout: 3s # Timeout for each health checking.
      retries: 3 # Hou many times retries.
      start_period: 4s # Estimated time to boot.
    networks:
      - default


networks:
  default:
    driver: bridge
    name: "${COMPOSE_PROJECT_NAME}-network"

volumes:
  db_data:
  sock:
  cache_data:
