controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

#app_api_doc:
#    resource: "@NelmioApiDocBundle/config/routing/swaggerui.xml"
#    prefix: /api/doc
