parameters:
    fetch_rate_interval: '%env(int:FETCH_RATE_INTERVAL)%'
    currency_precision: '%env(int:CURRENCY_PRECISION)%'
    default_log_stream: 'php://stderr'
    monolog.handlers.file_log.path: "%kernel.logs_dir%/%kernel.environment%_errors.log"
    #default_log_stream: "%kernel.logs_dir%/%kernel.environment%.log"

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $currencyPrecision: '%currency_precision%'

    _instanceof:
        App\Contract\ProviderInterface:
            tags: ['app.provider']

    test.service_container:
        alias: service_container
        public: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Repository\ExchangeRateRepository:
        public: true

    App\Service\ProviderRegistry:
        public: true

    # Cache configs

    ## Example cache: with namespace (Dont touch)
    #app.cache.adapter.example_cache:
    #    parent: 'cache.adapter.redis'
    #    tags:
    #        - { name: 'cache.pool', namespace: '%env(REDIS_URL)%:example' }

    app.cache.default:
        parent: 'cache.app'
        tags:
            - { name: 'cache.pool', namespace: '%env(APP_ENV)%' }

    App\Contract\Cache\RateCacheInterface: '@App\Cache\RateCache'
    App\Contract\Cache\SkipDayCacheInterface: '@App\Cache\SkipDayCache'
    App\Contract\Cache\TimeseriesCacheInterface: '@App\Cache\TimeseriesCache'
    App\Contract\Cache\RateLimitCacheInterface: '@App\Cache\RateLimitCache'

    App\Cache\RateCache:
        arguments:
            $cacheItemPool: '@first_cache'

    App\Cache\SkipDayCache:
        arguments:
            $cacheItemPool: '@second_cache'

    App\Cache\TimeseriesCache:
        arguments:
            $cacheItemPool: '@third_cache'

    App\Cache\RateLimitCache:
        arguments:
            $cacheItemPool: '@fourth_cache'


    # Providers

    App\Provider\AbstractApiProvider:
        arguments:
            $id: 24
            $url: 'https://exchange-rates.abstractapi.com/v1/live/?api_key={apiKey}&base={baseCurrency}'
            $apiKey: '%env(ABSTRACT_API_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.abstract_api' }

    App\Provider\ApiLayerCurrencyDataProvider:
        arguments:
            $id: 15
            $url: 'https://api.apilayer.com/currency_data/historical?date={date:Y-m-d}&source={baseCurrency}'
            $apiKey: '%env(API_LAYER_CURRENCY_DATA_API_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.api_layer_currency_data' }

    App\Provider\ApiLayerExchangeRatesDataProvider:
        arguments:
            $id: 16
            $url: 'https://api.apilayer.com/exchangerates_data/{date:Y-m-d}?base={baseCurrency}'
            $apiKey: '%env(API_LAYER_EXCHANGE_RATES_DATA_API_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.api_layer_exchange_rates_data' }

    App\Provider\ApiLayerFixerProvider:
        arguments:
            $id: 14
            $url: 'https://api.apilayer.com/fixer/{date:Y-m-d}?base={baseCurrency}'
            $apiKey: '%env(API_LAYER_FIXER_API_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.api_layer_fixer' }

    App\Provider\BankOfCanadaProvider:
        arguments:
            $id: 26
            $url: 'https://www.bankofcanada.ca/valet/observations/group/FX_RATES_DAILY/json?start_date={date:Y-m-d}&end_date={date:Y-m-d}'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.bank_of_canada' }

    App\Provider\BanxicoProvider:
        arguments:
            $id: 30
            $url: 'https://www.banxico.org.mx/SieAPIRest/service/v1/series/{currencies}/datos/{date:Y-m-d}/{date:Y-m-d}'
            $token: '%env(BANXICO_TOKEN)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.banxico' }

    App\Provider\BcbProvider:
        arguments:
            $id: 31
            $url: 'https://olinda.bcb.gov.br/olinda/service/PTAX/version/v1/odata'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.bcb' }

    App\Provider\BinanceProvider:
        arguments:
            $id: 27
            $url: 'https://api.binance.com'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.binance' }

    App\Provider\BnbProvider:
        arguments:
            $id: 7
            $url: 'https://www.bnb.bg/Statistics/StExternalSector/StExchangeRates/StERForeignCurrencies/index.htm'
        tags:
            - { name: 'app.provider', key: 'provider.bnb' }

    App\Provider\CbrProvider:
        arguments:
            $id: 1
            $url: 'https://cbr.ru/scripts/XML_daily.asp?date_req={date:d/m/Y}'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.cbr' }

    App\Provider\CbrtProvider:
        arguments:
            $id: 4
            $url: 'https://www.tcmb.gov.tr/kurlar/'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.cbrt' }

    App\Provider\CnbProvider:
        arguments:
            $id: 5
            $url: 'https://www.cnb.cz/cs/financni-trhy/devizovy-trh/kurzy-devizoveho-trhu/kurzy-devizoveho-trhu/denni_kurz.txt'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.cnb' }

    App\Provider\CoinLayerProvider:
        arguments:
            $id: 13
            $url: 'http://api.coinlayer.com/api'
            $accessKey: '%env(COIN_LAYER_ACCESS_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.coin_layer' }

    App\Provider\CurrencyConverterProvider:
        arguments:
            $id: 23
            $url: 'https://free.currconv.com/api/v7/convert'
            $apiKey: '%env(CURRENCY_CONVERTER_API_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.currency_converter' }

    App\Provider\CurrencyDataFeedProvider:
        arguments:
            $id: 22
            $url: 'https://currencydatafeed.com/api/data.php'
            $token: '%env(CURRENCY_DATA_FEED_TOKEN)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.currency_data_feed' }

    App\Provider\CurrencyLayerProvider:
        arguments:
            $id: 12
            $url: 'http://apilayer.net/api'
            $accessKey: '%env(CURRENCY_LAYER_ACCESS_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.currency_layer' }

    App\Provider\EcbProvider:
        arguments:
            $id: 2
            $url: 'https://www.ecb.europa.eu/stats/eurofxref'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.ecb' }

    App\Provider\ExchangeRatesApiProvider:
        arguments:
            $id: 17
            $url: 'http://api.exchangeratesapi.io/v1'
            $accessKey: '%env(EXCHANGE_RATES_API_ACCESS_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.exchange_rates_api' }

    App\Provider\FastForexProvider:
        arguments:
            $id: 18
            $url: 'https://api.fastforex.io'
            $apiKey: '%env(FASTFOREX_API_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.fast_forex' }

    App\Provider\ForgeProvider:
        arguments:
            $id: 19
            $url: 'https://api.1forge.com'
            $apiKey: '%env(FORGE_API_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.forge' }

    App\Provider\FrankfurterProvider:
        arguments:
            $id: 25
            $url: 'https://api.frankfurter.app'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.frankfurter' }

    App\Provider\FredProvider:
        arguments:
            $id: 28
            $url: 'https://api.stlouisfed.org/fred'
            $apiKey: '%env(FRED_API_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.fred' }

    App\Provider\MoexProvider:
        arguments:
            $id: 29
            $url: 'https://iss.moex.com/iss'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.moex' }

    App\Provider\NbgProvider:
        arguments:
            $id: 9
            $url: 'https://nbg.gov.ge/gw/api/ct/monetarypolicy/currencies/en/json?date={date:Y-m-d}'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.nbg' }

    App\Provider\NbrProvider:
        arguments:
            $id: 3
            $url: 'https://curs.bnr.ro'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.nbr' }

    App\Provider\NbuProvider:
        arguments:
            $id: 8
            $url: 'https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?date={date:Ymd}'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.nbu' }

    App\Provider\OpenExchangeRatesProvider:
        arguments:
            $id: 10
            $url: 'https://openexchangerates.org/api'
            $appId: '%env(OPEN_EXCHANGE_RATES_APP_ID)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.open_exchange_rates' }

    App\Provider\RcbProvider:
        arguments:
            $id: 6
            $url: 'https://cbu.uz/common/json/?date={date:d.m.Y}'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.rcb' }

    App\Provider\XchangeApiProvider:
        arguments:
            $id: 20
            $url: 'https://api.xchangeapi.com/latest?base={baseCurrency}&api-key={apiKey}'
            $apiKey: '%env(XCHANGE_API_KEY)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.xchange_api' }

    App\Provider\XigniteProvider:
        arguments:
            $id: 21
            $url: 'https://globalcurrencies.xignite.com/xGlobalCurrencies.json'
            $token: '%env(XIGNITE_TOKEN)%'
            $currencyPrecision: 8
        tags:
            - { name: 'app.provider', key: 'provider.xignite' }
