monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists
    handlers:
        file_log:
            type: stream
            path: "%monolog.handlers.file_log.path%"
            level: info
        console:
            type:   console
            process_psr_3_messages: false
            channels: ['!event', '!doctrine', '!console']
            interactive_only: true

when@dev:
    monolog:
        handlers:
            main:
                type: stream
                path: "%env(default:default_log_stream:MONOLOG_LOG_STREAM)%"
                #path: php://stderr
                #path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event"]
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                channels: ["!event"]
            nested:
                type: stream
                path: "%env(default:default_log_stream:MONOLOG_LOG_STREAM)%"
                #path: php://stderr
                #path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: info

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!deprecation"]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            nested:
                type: stream
                path: "%env(default:default_log_stream:MONOLOG_LOG_STREAM)%"
                #path: php://stderr
                level: notice
                formatter: monolog.formatter.json
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
                formatter: monolog.formatter.json
